              <% if jobs.count > 0 %>
              <% jobs = jobs.order(:created_at).reverse %>
              <% jobs.each do |job| %>
              <% role = job.role %>
              <% play = role.play %>
              <% theatre = job.theatre %>
                <tr>
                    <td><%= play.title %></td>
                    <td><%= role.character_name %></td>
                    <% if theatre != nil %>
                    <td><%= theatre.name %> <i class="fa fa-angle-right"></i></td>
                    <td><%= theatre.city %></td>
                    <% else %>
                    <td></td>
                    <td></td>
                    <% end %>
                </tr>
                <% end %>
                <% else %>
                <tr class="no_roles">
                  <td>This is where your resume will go. Click add a role to start adding your credits.</td>
                </tr>
                <% end %>

