<div class="wrap2">
    <h1>Search for Actors by Show and Role:</h1>
    <div class="search2">
        <ul>
            <li>
                    <fieldset>
                        <legend>Show</legend>
                        <input type="text" value="Brigadoon"></input>
                    </fieldset>
            </li>
            <li>
                    <fieldset>
                        <legend>Role</legend>
                        <input type="text" value="Tommy Albright"></input>
                    </fieldset>
            </li>
        </ul>
    </div>

    <div class="filter">
        <ul>
            <li>Filter By <i class="fa fa-angle-right"></i></li>
            <li>
                <ul>
                    <li>All</li>
                    <li>Equity</li>
                    <li>Equity + EMC</li>
                    <li>Non-Equity</li>
                </ul>
            </li>
            <li>Sort By <i class="fa fa-angle-right"></i></li>
            <li>
                <ul>
                    <li>Height</li>
                    <li>Weight</li>
                </ul>
            </li>
        </ul>
    </div>

    <table>
        <tr>
            <td><img src="/image/JustinThumbnail.jpg"></td>
            <td class="name"><a href="/actor.html">Justin White</a></td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>6'4"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/kylethumbnail.jpg"></td>
            <td class="name">Kyle Branzel</td>
            <td><i class="fa fa-star-half-o"></i> EMC</td>
            <td>6'5"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/ryanthumbnail.jpg"></td>
            <td class="name">Ryan Frostig</td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>5'9"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/SavionThumbnail.jpg"></td>
            <td class="name">Savion Smith</td>
            <td><i class="fa fa-star-o"></i> Non-Equity</td>
            <td>5'8"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/TuckerThumbnail.jpg"></td>
            <td class="name">Tucker Worley</td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>6'1"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/WillThumbnail.jpg"></td>
            <td class="name">Will Aaron</td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>5'6"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
                <tr>
            <td><img src="/image/JustinThumbnail.jpg"></td>
            <td class="name">Justin White</td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>6'4"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/kylethumbnail.jpg"></td>
            <td class="name">Kyle Branzel</td>
            <td><i class="fa fa-star-half-o"></i> EMC</td>
            <td>6'5"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
        <tr>
            <td><img src="/image/ryanthumbnail.jpg"></td>
            <td class="name">Ryan Frostig</td>
            <td><i class="fa fa-star"></i> Equity</td>
            <td>5'9"</td>
            <td>165 lbs</td>
            <td class="view">Tommy Albright</td>
        </tr>
    </table>
</div>

