@import "library";

.actorwrap {
  // @include bg-size;
  // background: white;
  // background-position: cover;
  margin: 0 auto;
  width: 960px;
  padding: 30px 0px;
  .headshot {
    @include columnify(3);
    float: left;
    img {
      margin-top: 24px;
      width: inherit;
      border: 2px solid $dark_blue;
    }
    h2 {
      font-size: 14pt;
    }
    p {
      font-weight: lighter;
      span {
        font-weight: bold;
      }
    }
  }
  .resume {
    @include columnify(9, true);
    float: left;
    .first {
      clear: left;
      p {
        display: inline;
        margin-left: 15px;
        font-size: 14pt;
        color: black;
        font-weight: normal;
        text-transform: none;
      }
    }
    h1 {
      float: left;
      font-size: 28pt;
      line-height: normal;
      color: $green;
      padding: 0px;
      text-transform: uppercase;
      font-weight: lighter;
      margin-bottom: 20px;
      margin-top: 0px;
      border-radius: 5px;
    }
    h2 {
      font-size: 16pt;
      width: 200px;
      margin-right: 0px;
      margin-bottom: 15px;
    }
    table.stats {
      float: left;
      width: 28%;
      tr {
        border: none;
        td {
          text-align: right;
          font-size: 12pt;
          line-height: 25px;
          &:nth-of-type(1) {
            font-weight: bold;
            text-align: left;
          }
        }
      }
    }
    .contact {
      float: right;
      text-align: right;
      margin-top: 6px;
      h2 {
        font-weight: bold;
      }
      ul {
        li {
          list-style-type: none;
        }
      }
    }
    .role {
      margin-top: 30px;
      // border-bottom: 1px solid lightgray;
      h2 {
        cursor: pointer;
        i {
          color: gray;
        }
        &:hover {
          font-weight: bold;
        }
      }
      .role_add {
        display: none;
        margin-bottom: 8px;
        ul {
          margin: 0px;
          padding-left: 0px;
          li {
            @include columnify(4.5);
            margin-right: 0px;
            margin-bottom: 5px;
            &:nth-of-type(1) {
              margin-right: 15px;
            }
            &:nth-of-type(3) {
              margin-right: 15px;
            }
            display: inline-block;
            fieldset {
              border: 1px solid lightgray;
              // margin-right: 3px;
              padding: 0px;
              legend {
                margin-right: 0px;
                margin-left: 10px;
                font-size: 10pt;
              }
              input {
                width: 92%;
                font-size: 10pt;
                border: none;
                border-width: 0;
                outline-width: 0;
                margin-left: 5px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .resume_list {
      border-top: 1px solid lightgray;
      margin-top: 15px;
      table {
        width: 100%;
        font-size: 10pt;
        tr {
          height: 50px;
          border: none;
          td {
            overflow: hidden;
            height: 50px;
            &:nth-of-type(1) {
              width: 28%;
              text-transform: uppercase;
            }
            &:nth-of-type(2) {
              width: 20%;
              font-weight: bold;
            }
            &:nth-of-type(3) {
              text-align: right;
            }
            &:nth-of-type(4) {
              text-align: right;
            }
          }
          &.no_roles {
            td {
              text-align: center;
              padding-top: 30px;
              color: gray;
              text-transform: none;
              font-size: 13pt;
            }
          }
        }
      }
    }
  }
}

.roleform {
  button {
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 0px;
    float: right;
    background: $light_blue;
    border: none;
    border-radius: 5px;
    input[type="submit"] {
      font-size: 10pt;
      cursor: pointer;
      background: none;
      border: none;
      border-width: 0;
    }
    &:hover {
      background: $dark_blue;
      input[type="submit"] {
        color: white;
      }
    }
  }
}

#ui-id-1 {
  // top: 442px !important;
  // left: 247px !important;
}

#ui-id-2 {
  // top: 442px !important;
}

.clearfixrole {
  clear: both;
}


.boop {
  font-size: 14pt;
}

.role_show {
  font-size: 10pt;
  text-transform: uppercase;
  padding-left: 15px;
}

.clearfix {
  content: "";
  height: 100px;
}

.wrap2 {
    width: 800px;
    margin: 0px auto;
    margin-top: 30px;
    background:white;
    table {
        width: inherit;
        td {
            &:nth-of-type(6) {
                text-align: right;
                width: 22%;
            }
        }
    }
    table {
    width: 800px;
    tr {
        line-height: 65px;
        border-bottom: 1px solid lightgray;
        td {
            text-align: left;
            line-height: 65px;
            &:nth-of-type(5) {
                text-align: right;
            }
            img {
                line-height: 65px;
                vertical-align: middle;
                height: 55px;
                border-radius: 45px;
            }
            &.name {
                font-weight: bold;
                color: $dark_blue;
                &:hover {
                    color: gray;
                }
            }
            &.view {
                font-weight: bold;
                color: black;
            }
        }
    }
}
    .search2 {
        fieldset {
            border: 1px solid lightgray;
            legend {
                margin-left: 15px;
                font-size: 10pt;
                font-weight: bold;
            }
            input {
                width: 98%;
                font-size: 14pt;
                border: none;
                border-width: 0;
                outline-width: 0;
                margin-left: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .filter {
        margin-top: 10px;
        margin-bottom: 10px;
        background: $light_blue;
        border: none;
        border-radius: 5px;
        height: 35px;
        ul {
            line-height: 35px;
            vertical-align: middle;
            margin-left: 5px;
            font-size: 0px;
            li {
                display: inline-block;
                padding: 0px 15px;
                margin: 0px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                &:nth-of-type(1) {
                    text-transform: none;
                    color: black;
                }
                &:nth-of-type(3) {
                    text-transform: none;
                    color: black;
                }
                ul {
                    margin-left: 0px;
                    padding-left: 0px;
                    li {
                        &:nth-of-type(1) {
                            text-transform: uppercase;
                            font-weight: bold;
                            color: white;
                            padding-left: 0px;
                        }
                        &:nth-of-type(3) {
                            text-transform: uppercase;
                            font-weight: bold;
                            color: white;
                        }
                        &:hover {
                            color: $dark_blue;
                        }

                    }
                }
            }
        }
    }
}
