// Place all the styles related to the Auditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "library";

.all_auditions {
  width: 960px;
  margin: 0px auto;
}

.one_audition {
  width: inherit;
  .sidebar {
    @include columnify(3);
    float: left;
  }
  h2 {
    @include columnify(9);
    float: left;
    text-transform: uppercase;
    font-size: 14pt;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
  }
  ul {
    @include columnify(3);
    float: left;
    list-style-type: none;
    padding-left: 0px;
  }
  .description {
    @include columnify(6);
    float: left;
    margin-right: 0px;
    .text {
      font-weight: lighter;
    }
  }
}
