// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "library";

@mixin background-image($name) {
  $url: $name;
  background: url($url);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px auto;
    display: block;
    position: relative;
    text-align: center;
    top: 0px;
    // z-index: -50;
    max-height: 100%;
    max-width: 100%;
}

p.notice, p.alert {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}


.marketing_home {
  @include background-image('stage4.jpg');

  height: 100%;
  .banner {
    a {
      color: white;
      font-size: 24pt;
      position: fixed;
      top: 15px;
      right: 15px;
    }
    height: 100%;
    position: absolute;
    width: 100%;
    // margin-top: 25%;
    background: rgba(0,0,0,0.65);
  }

  h1 {
    margin-top: 25%;
    font-size: 35pt;
    color: white;
    font-weight: lighter;
    span {
      font-weight: normal;
    }
  }
  h2 {
    // text-transform: uppercase;
    font-weight: lighter;
    color: white;
    font-size: 18pt;
    margin-top: 20px;
    span {
      // color: $green;
      font-weight: bold;
    }
  }
  h3 {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 11pt;
  }
  ul {
    padding-left: 0px;
    font-size: 16pt;
    li.landing {
      margin-top: 100px;
      z-index: 500;
      display: inline-block;
      border: 1px solid white;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      &:nth-of-type(1) {
        margin-right: 10px;
      }
      &:hover {
        background: lightgreen;
        color: black;
        border-color: lightgreen;
        cursor: pointer;
      }
    }
    li.theatre_intro, li.actor_intro {
      line-height: 30px;
      display: none;
      color: lightgreen;
      width: 600px;
      text-align: center;
      padding: 0px;
      margin: 30px auto;
      margin-bottom: 0px;
      list-style-type: none;
      font-weight: lighter;
      i {
        cursor: pointer;
      }
      &.email {
        width: 350px;
        border: 1px solid white;
        margin-top: 15px;
        i {
          cursor: normal;
          float: none;
          color: white;
          padding-left: 0px;
        }
      }
      input {
        padding: 5px;
        width: 300px;
        font-size: 16pt;
        background: none;
        border: none;
        outline-width: 0;
        color: white;
      }
    }
  }
}


