// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap2 {
  h1 {
    span {
      text-decoration: underline;
    }
  }
  button {
    display: inline-block;
  }
  .search1 {
    display: none;
  }
  .search2 {
    display: none;
  }
}
