@import "library";


.signup {
  .signuphead {
    float: left;
    margin-top: 0px;
    font-size: 18pt;
    width: 250px;
    h3 {
      font-size: 12pt;
      font-weight: normal;
      margin-bottom: 310px;
    }
    p {
      font-size: 10pt;
      a {
        color: $green;
        font-weight: bold;
        &:hover {
          color: black;
        }
      }
      span {
        font-weight: bold;
        color: $green;
        &:hover {
          color: black;
        }
      }
    }
  }
  background: rgba(0,0,0,0.015);
  padding: 20px 30px;
  width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  table {
    width: inherit;
    margin: 0px auto;
    text-align: right;
    margin-right: 20px;
    tr {
      width: inherit;
      line-height: 35px;
      td {
        // width: 100%;
        text-align: right;
        &:nth-of-type(2n) {
          text-align: left;
        }

        label {
          text-transform: uppercase;
          font-size: 10pt;
          padding-right: 15px;
        }
        input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
          height: 25px;
          line-height: 18px;
          width: 250px;
          padding: 0px 5px;
          border: none;
          outline-width: 0px;
          border: 1px solid lightgray;
          border-radius: 5px;
          &.active_input {
            background: black;
          }
        }

      }
    }

  }
  .signbutton {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    input {
      background: none;
      border: none;
      font-weight: bold;
      font-size: 14pt;
      color: $green;
      cursor: pointer;
    }

  }
}
